@page "/"

<PageTitle>Home</PageTitle>

<h1>@_danishTime</h1>
<h1>@_americanTime</h1>

@code {
	private string _danishTime = DateTime.Now.ToString("hh:mm:ss");
	private string _americanTime = DateTime.Now.ToString("hh:mm:ss tt", CultureInfo.InvariantCulture);

	protected override void OnInitialized()
	{
		Task.Run(SetDanishTime);
		Task.Run(SetAmericanTime);
	}
	private async Task SetDanishTime()
	{
		while(true)
		{
			_danishTime = DateTime.Now.ToString("hh:mm:ss");
			await InvokeAsync(StateHasChanged);
			Thread.Sleep(1000);		
		}
	}

	private async Task SetAmericanTime()
	{
		while (true)
		{
			_americanTime = DateTime.Now.ToString("hh:mm:ss tt", CultureInfo.InvariantCulture);
			await InvokeAsync(StateHasChanged);
			Thread.Sleep(1000);
		}

	}

}
