@page "/Transient"
@inject IServiceProvider _serviceProvider;

<PageTitle>Home</PageTitle>

<h1>GUID from Singleton: @_guidSingleton</h1>
<h1>GUID from Scoped: @_guidScoped</h1>
<h1>GUID from Transient: @_guidTransient</h1>


@code {
    private string? _guidTransient;
    private string? _guidScoped;
    private string? _guidSingleton;

    protected override void OnInitialized()
    {
        _guidTransient = _serviceProvider.GetRequiredService<ITransientService>().GetGuid().ToString();
        _guidScoped = _serviceProvider.GetRequiredService<IScopedService>().GetGuid().ToString();
        _guidSingleton = _serviceProvider.GetRequiredService<ISingletonService>().GetGuid().ToString();
    }
}
